.users_table {
	border: 1px solid black;
	border-collapse: collapse;	
}

.users_table tr {
	border: 1px solid black;
}

.users_table tr td {
	border: 1px solid black;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.users_table th {
	border: 1px solid black;
	width: 80px; 
}
.my_tr1 {
	background: white;
	color: blue;
}
.my_tr2 {
	background: yellow;
	color: orange;
}
.my_tr3 {
	background: green;
	color: white;
}